
<html>
    <head>
        <title>Remote Run</title>
        <link rel="stylesheet" href="css/run.css">
        <script src="js/run.js"></script>
    </head>
    <body>
        <div class="cont">
            <button class="" onclick="triggerStart()" type="button">Run</button>
            <div style="width: 10px;"></div>
            <button class="" onclick="toggleUI()" type="button">Toggle UI</button>
        </div>
        <div class="fadesLength">
            <span>The credits will run for: </span>
            <span id="fadesTime"></span>
            <span> seconds</span>
        </div>
    </body>
</html>
