html {
  /* Explicitly set background color */
  background-color: #0000;
  opacity: 0;
  /* Set default box-sizing to border-box for easier sizing of elements */
  box-sizing: border-box;
  /* Disable scrollbars by clipping page overflow */
  overflow: hidden;
  /* Set default font family */
  font-family: montserrat, sans-serif;
  /* Set responsive root font size to 43.2px at 1080p */
  font-size: 3vh;
  color: white;
  scroll-behavior: smooth;
  transition: 1s;
}

.columns .subTitle {
  margin-top: 2em;
}

.background {
  background-color: black;
  opacity: 1;
}

body {
  overflow-anchor: none;
  margin: 0;
  position: absolute;
  top: 0;
}

.hidden {
  /*! opacity: 0; */
  transition: 0.3s;
}

#creditsCont {
  text-align: center;
  width: 60vw;
  margin: auto;
  padding-top: 100vh;
}

#creditsLogos {
  opacity: 0;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#creditsLogoSingle,
#creditsLogoGroup {
  padding: 0 24%;
  height: 100%;
  display: flex;
}

#creditsLogoSingle {
  padding: 0 31%;
}

#creditsLogoSingle img,
#creditsLogoGroup img {
  padding-left: 3vw;
  padding-right: 3vw;
}

#creditsLogoGroup img {
  box-sizing: border-box;
}

#creditsLogos .text {
  text-align: center;
  max-width: 49%;
  margin: auto;
  margin-top: 1em;
}

#creditsLogos .block {
  justify-content: center;
  align-items: center;
}

#creditsLogos .subTitle {
  margin: 0;
}

.imageGroup {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  padding: 0 20%;
}

.imageGroup .image {
  /*! margin: unset; */
}

.subTitle,
.role {
  font-family: montserrat, sans-serif;
  font-weight: bold;
  font-style: italic;
}

.image~.names {
  margin-top: 3em;
}

.imageGroup .image~.image {
  margin-left: 3em;
}

.names {
  font-size: 0.8em;
  margin-top: 3px;
  margin-bottom: 3px;
}

.title {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 2em;
  margin-top: 2em;
}

.block {
  display: flex;
  flex-direction: column;
}

.columns {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.subTitle {
  margin-bottom: 2em;
  margin-top: 5em;
  font-size: 0.8em;
}

.image~.subTitle {
  margin-top: 2em;
}

.pair {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

.pair>* {
  flex: 1;
}

.pair>.name,
.pair>.nameGroup {
  text-align: left;
  margin-left: 0.4em;
}

.pair>.role {
  text-align: right;
  margin-right: 0.4em;
}

.text {
  margin-top: 1em;
  font-size: 0.8em;
  white-space: break-spaces;
}

.image {
  max-width: 75%;
  margin: auto;
  height: fit-content;
}

.cols1>* {
  width: 100%;
  min-width: 100%;
}

.cols2>* {
  width: calc(50% - 20px) !important;
  min-width: calc(50% - 20px);
}

.cols3>* {
  width: calc(33% - 20px) !important;
  min-width: calc(33% - 20px);
}

.cols4>* {
  width: calc(25% - 20px) !important;
  min-width: calc(25% - 20px);
}

.cols5>* {
  width: calc(20% - 20px) !important;
  min-width: calc(20% - 20px);
}

.cols6>* {
  width: calc(16.6% - 20px) !important;
  min-width: calc(16.6% - 20px);
}

.stay {
  opacity: 1 !important;
}

.fade {
  animation-name: fade;
  animation-timing-function: ease;
}

@keyframes fade {

  /* Fade out by reducing opacity to 0 */
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@font-face {
  font-family: "Libre Caslon Text";
  src: url("librecaslontext-regular.otf");
}

@font-face {
  font-family: "Libre Caslon Italic";
  src: url("librecaslontext-italic.otf");
}
