html {
 background-color:#0000;
 opacity:0;
 box-sizing:border-box;
 overflow:hidden;
 font-family:montserrat,sans-serif;
 font-size:3vh;
 color:#fff;
 scroll-behavior:smooth;
 transition:1s
}
.columns .subTitle {
 margin-top:2em
}
.cols1 {
 display:grid;
 grid-template-columns:repeat(1,1fr)
}
.cols2 {
 display:grid;
 grid-template-columns:repeat(2,1fr)
}
.cols3 {
 display:grid;
 grid-template-columns:repeat(3,1fr)
}
.cols4 {
 display:grid;
 grid-template-columns:repeat(4,1fr)
}
.cols5 {
 display:grid;
 grid-template-columns:repeat(5,1fr)
}
.cols6 {
 display:grid;
 grid-template-columns:repeat(6,1fr)
}
.background {
 background-color:#000;
 opacity:1
}
body {
 overflow-anchor:none;
 margin:0;
 position:absolute;
 top:0
}
.hidden {
 transition:.3s
}
#creditsCont {
 text-align:center;
 width:60vw;
 margin:auto;
 padding-top:100vh
}
#creditsLogos {
 opacity:0;
 width:100%;
 height:100vh;
 top:0;
 left:0;
 position:fixed;
 display:flex;
 flex-direction:column;
 justify-content:center
}
#creditsLogoSingle,
#creditsLogoGroup {
 padding:0 24%;
 height:100%;
 display:flex
}
#creditsLogoSingle {
 padding:0 31%
}
#creditsLogoSingle img,
#creditsLogoGroup img {
 padding-left:3vw;
 padding-right:3vw
}
#creditsLogoGroup img {
 box-sizing:border-box
}
#creditsLogos .text {
 text-align:center;
 max-width:49%;
 margin:auto;
 margin-top:1em
}
#creditsLogos .block {
 justify-content:center;
 align-items:center
}
#creditsLogos .subTitle {
 margin:0
}
.imageGroup {
 width:60%;
 height:100%;
 display:flex;
 justify-content:space-around;
 padding:0 20%
}
.imageGroup .image {
}
.subTitle,
.role {
 font-weight:700;
 font-style:italic
}
.image~.names {
 margin-top:3em
}
.imageGroup .image~.image {
 margin-left:3em
}
.names {
 font-size:.8em;
 margin-top:3px;
 margin-bottom:3px
}
.title {
 font-size:1.2em;
 font-weight:700;
 margin-bottom:2em;
 margin-top:2em
}
.block {
 display:flex;
 flex-direction:column
}
.subTitle {
 margin-bottom:2em;
 margin-top:5em;
 font-size:.8em
}
.image~.subTitle {
 margin-top:2em
}
.pair {
 display:flex;
 margin-top:10px;
 margin-bottom:10px
}
.pair>* {
 flex:1
}
.pair>.name,
.pair>.nameGroup {
 text-align:left;
 margin-left:.4em
}
.pair>.role {
 text-align:right;
 margin-right:.4em
}
.text {
 margin-top:1em;
 font-size:.8em;
 white-space:break-spaces
}
.image {
 max-width:75%;
 margin:auto;
 height:fit-content
}
.stay {
 opacity:1!important
}
.fade {
 animation-name:fade;
 animation-timing-function:ease
}
@keyframes fade {
 0% {
  opacity:0
 }
 20% {
  opacity:1
 }
 80% {
  opacity:1
 }
 100% {
  opacity:0
 }
}
